<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#e8293b"/>
<meta name="HandheldFriendly" content="true" />
<title>Brabus | Contemporary Modern Portfolio for Agencies</title>
<meta name="author" content="Themezinho">
<meta name="description" content="Qindeel Studio">
<meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, modern, agency, digital, studio, css, animation, transition, freelancers, unity, games, vr">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Qindeel Studio">
<meta property="og:image" content="http://www.themezinho.net/brabus/preview.png">
<meta property="og:site_name" content="Brabus">
<meta property="og:title" content="Brabus">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/brabus">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@brabus">
<meta name="twitter:creator" content="@brabus">
<meta name="twitter:title" content="brabus">
<meta name="twitter:description" content="Brabus | Contemporary Modern Portfolio for Agencies">
<meta name="twitter:image" content="http://www.themezinho.net/brabus/preview.png">

<!-- FAVICON FILES -->
<link href="ico/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon" sizes="144x144">
<link href="ico/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon" sizes="114x114">
<link href="ico/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon" sizes="72x72">
<link href="ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon">
<link href="ico/favicon.png" rel="shortcut icon">

<!-- CSS FILES -->
<link rel="stylesheet" href="css/animate.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/odometer.min.css">
<link rel="stylesheet" href="css/fancybox.min.css">
<link rel="stylesheet" href="css/swiper.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="preloader">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="inner" data-tilt data-tilt-perspective="2000">
    <figure class="fadeInUp animated"> <img src="images/preloader.gif" alt="Image"> </figure>
    <span class="typewriter" id="typewriter"></span> </div>
  <!-- end inner --> 
</div>
<!-- end preloader -->
<div class="transition-overlay">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
<!-- end transition-overlay -->
<div class="navigation-menu">
  <div class="bg-layers"> <span></span> <span></span> <span></span> <span></span> </div>
  <!-- end bg-layers -->
  <div class="inner" data-tilt data-tilt-perspective="2000">
   <div class="menu">
    <ul>
      <li><a href="#">START</a>
      	<ul>
      		<li><a href="index.html">Slider</a></li>
      		<li><a href="index-video.html">Video</a></li>
      		<li><a href="index-particles.html">Particles</a></li>
      		<li><a href="index-perspective.html">Perspective</a></li>
      	</ul>
      </li>
      <li><a href="works.html">WORKS</a></li>
      <li><a href="brabus.html">BRABUS</a></li>
      <li><a href="news.html">NEWS</a></li>
      <li><a href="hello.html">HELLO</a></li>
    </ul>
    </div>
    <!-- end menu -->
    <blockquote>Let's create useful website for you ?</blockquote>
  </div>
  <!-- end inner --> 
</div>
<!-- end navigation-menu -->
<nav class="navbar">
  <div class="left"> <!-- <a href="direction.html">DIRECTION</a> --> </div>
  <!-- end left -->
  <div class="logo"> <a href="index.html"><img src="images/logo.png" alt="Image"></a> </div>
  <!-- end logo -->
  <div class="right">
    <!-- <ul class="language">
      <li><a href="#">EN</a></li>
      <li><a href="#">RU</a></li>
    </ul> -->
    <!-- <div class="hamburger-menu"><b>MENU</b>
      <div class="hamburger" id="hamburger-menu"> <span></span> <span></span> <span></span> </div>
    </div> -->
    <!-- end hamburger-menu --> 
  </div>
  <!-- end right --> 
</nav>
<!-- end navbar -->
<header class="page-header">
  <div class="video-bg">
    <!-- <video src="videos/video2.mp4" muted loop autoplay></video> -->
  </div>
  <!-- end video-bg -->
  <div class="container">
  	<h1>WORKS</h1>
  	<p>OUR STUDIO's ADVENTURES</p>
  </div>
  <!-- end container -->
  <aside class="left-side">
    <ul>
      <li><a href="mailto:qindeelstudio@gmail.com">MAIL</a></li>
      <li><a href="http://linkedin.com/company/QindeelStudio">Linkedin</a></li>
       <li><a href="https://twitter.com/QindeelStudio">Twitter</a></li>
      <li><a href="https://www.youtube.com/@qindeelstudio7640">Youtube</a></li>
    </ul>
  </aside>
  <!-- end left-side -->
  <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  <!-- end scroll-down -->
  <!-- <div class="sound"> <span> SOUND </span>
    <div class="equalizer">
      <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
      <!-- end holder --> 
    </div>
    <!-- end equalizer --> 
  </div> -->
  <!-- end sound -->
</header>
<!-- end header -->
<section class="works-single">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn">
        <!-- <h6>SMOOTH INTERFACE INTERACTION</h6> -->
        <h2>{{ name }}</h2>
      </div>
      <!-- end col-12 -->
      <div class="col-lg-5 wow fadeIn">
        <h4>{{ short_description }}</h4>
      </div>
      <!-- end col-5 -->
      <div class="col-lg-7 wow fadeIn" data-wow-delay="0.10s">
    <div class="text-desc row">
      	<div class="col-12 wow fadeIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
      		<h5>Description</h5>
      		<p>{{ description }}</p>
      	</div>
      	<!-- end col-6 -->
      	<div class="col-md-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
      		<h5>Project</h5>
      		<p>{{ project }}</p>
      	</div>
      	<!-- end col-3 -->
      	<div class="col-md-6 wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
      		<h5>Launch</h5>
      		<p>{{ launch }}</p>
      	</div>
      	<!-- end col-3 -->
      </div> 
      <!-- end text-desc -->
      </div>
      <!-- end col-7 --> 
      {% if video %}
      <div class="col-12 wow fadeIn">
      	<iframe src="{{ video }}" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      {% endif %}
      {% if video_2 %}
      <div class="col-12 wow fadeIn">
      	<iframe src="{{ video_2 }}" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      {% endif %}
      <!-- end col-12 -->
      {% if image_1 %}
      <div class="col-12 wow fadeIn">
      	<figure><a href="{{ image_1 }}" data-fancybox><img src="{{ image_1 }}" alt="{{ image_1_alt }}"></a></figure>
      </div>
      {% endif %}
      <!-- end col-12 -->
      {% if image_2 %}
      <div class="col-md-6 wow fadeIn">
      	<figure><a href="{{ image_2 }}" data-fancybox><img src="{{ image_2 }}" alt="{{ image_2_alt }}"></a></figure>
      </div>
      {% endif %}
      <!-- end col-6 -->
      {% if image_3 %}
      <div class="col-md-6 wow fadeIn">
      	<figure><a href="{{ image_3 }}" data-fancybox><img src="{{ image_3 }}" alt="{{ image_3_alt }}"></a></figure>
      </div>
      {% endif %}
      <!-- end col-6 -->
      {% if image_4 %}
      <div class="col-12 wow fadeIn">
      	<figure><a href="{{ image_4 }}" data-fancybox><img src="{{ image_4 }}" alt="{{ image_4_alt }}"></a></figure>
      </div>
      {% endif %}
      <!-- end col-12 -->
      {% if image_5 %}
      <div class="col-md-4 wow fadeIn">
      	<figure><a href="{{ image_5 }}" data-fancybox><img src="{{ image_5 }}" alt="{{ image_5_alt }}"></a></figure>
      </div>
      {% endif %}
      <!-- end col-4 -->
      {% if image_6 %}
      <div class="col-md-4 wow fadeIn">
      	<figure><a href="{{ image_6 }}" data-fancybox><img src="{{ image_6 }}" alt="{{ image_6_alt }}"></a></figure>
      </div>
      {% endif %}
      <!-- end col-4 -->
      {% if image_7 %}
      <div class="col-md-4 wow fadeIn">
      	<figure><a href="{{ image_7 }}" data-fancybox><img src="{{ image_7 }}" alt="{{ image_7_alt }}"></a></figure>
      </div>
      {% endif %}
      <!-- end col-4 -->
      <div class="col-12 wow fadeIn">
      	<!-- <h3>Thanks for Watching</h3> -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end works-single -->
{% include 'footer.html' %}

<audio id="hamburger-hover" src="audio/link.mp3" preload="auto"></audio>

<!-- JS FILES --> 
<script src="js/jquery.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/swiper.min.js"></script> 
<script src="js/tilt.jquery.js"></script> 
<script src="js/wow.min.js"></script> 
<script src="js/odometer.min.js"></script> 
<script src="js/jquery.typewriter.js"></script>
<script src="js/fancybox.min.js"></script> 
<script src="js/app.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>